<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dreams Template">
    <meta name="keywords" content="Dreams, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dreams | Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script nonce="92a58d66-b084-44c7-80c1-0e36e4e81ea0">
        (function(w, d) {
            ! function(e, f, g, h) {
                e.zarazData = e.zarazData || {};
                e.zarazData.executed = [];
                e.zaraz = {
                    deferred: [],
                    listeners: []
                };
                e.zaraz.q = [];
                e.zaraz._f = function(i) {
                    return function() {
                        var j = Array.prototype.slice.call(arguments);
                        e.zaraz.q.push({
                            m: i,
                            a: j
                        })
                    }
                };
                for (const k of ["track", "set", "debug"]) e.zaraz[k] = e.zaraz._f(k);
                e.zaraz.init = () => {
                    var l = f.getElementsByTagName(h)[0],
                        m = f.createElement(h),
                        n = f.getElementsByTagName("title")[0];
                    n && (e.zarazData.t = f.getElementsByTagName("title")[0].text);
                    e.zarazData.x = Math.random();
                    e.zarazData.w = e.screen.width;
                    e.zarazData.h = e.screen.height;
                    e.zarazData.j = e.innerHeight;
                    e.zarazData.e = e.innerWidth;
                    e.zarazData.l = e.location.href;
                    e.zarazData.r = f.referrer;
                    e.zarazData.k = e.screen.colorDepth;
                    e.zarazData.n = f.characterSet;
                    e.zarazData.o = (new Date).getTimezoneOffset();
                    if (e.dataLayer)
                        for (const r of Object.entries(Object.entries(dataLayer).reduce(((s, t) => ({ ...s[1],
                                ...t[1]
                            }))))) zaraz.set(r[0], r[1], {
                            scope: "page"
                        });
                    e.zarazData.q = [];
                    for (; e.zaraz.q.length;) {
                        const u = e.zaraz.q.shift();
                        e.zarazData.q.push(u)
                    }
                    m.defer = !0;
                    for (const v of [localStorage, sessionStorage]) Object.keys(v || {}).filter((x => x.startsWith("_zaraz_"))).forEach((w => {
                        try {
                            e.zarazData["z_" + w.slice(7)] = JSON.parse(v.getItem(w))
                        } catch {
                            e.zarazData["z_" + w.slice(7)] = v.getItem(w)
                        }
                    }));
                    m.referrerPolicy = "origin";
                    m.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(e.zarazData)));
                    l.parentNode.insertBefore(m, l)
                };
                ["complete", "interactive"].includes(f.readyState) ? zaraz.init() : e.addEventListener("DOMContentLoaded", zaraz.init)
            }(w, d, 0, "script");
        })(window, document);
    </script>
</head>

<body>

    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-9">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li><a href="./portfolio.html">Portfolio</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About</a></li>
                                    <li><a href="./team.html">Team</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">News</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-1">
                    <div class="header__right">
                        <div class="header__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                        <div class="header__right__search">
                            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>


    <section class="hero set-bg" data-setbg="img/hero.png">
        <div class="container-fluid">
            <div class="hero__text">
                <img src="img/icon/hi.png" alt="">
                <h5>Welcom to Dream</h5>
                <h2>Plan the perfect wedding</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor. </p>
            </div>
        </div>
    </section>


    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our services</h2>
                        <img src="img/icon/ti.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/icon/si-1.png" alt="">
                        <h4>Photos & Video</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/icon/si-2.png" alt="">
                        <h4>Wedding Makeup</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/icon/si-3.png" alt="">
                        <h4>Restaurant</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/icon/si-4.png" alt="">
                        <h4>Live Music & DJ</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/icon/si-5.png" alt="">
                        <h4>Wedding cake</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/icon/si-6.png" alt="">
                        <h4>Honeymoons</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="features spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our wedding feature</h2>
                        <img src="img/icon/ti.png" alt="">
                    </div>
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".couple">Couple</li>
                        <li data-filter=".event">Event</li>
                        <li data-filter=".music">Music Live</li>
                        <li data-filter=".honeymoon">Honeymoon</li>
                        <li data-filter=".photography">Photography</li>
                    </ul>
                </div>
            </div>
            <div class="feature__gallery">
                <div class="grid-sizer"></div>
                <div class="fg__item photography set-bg" data-setbg="img/features/feature-1.jpg">
                    <div class="fg__item__text">
                        <span>Ceremonies</span>
                        <h2>Christina & Evelyn</h2>
                    </div>
                </div>
                <div class="fg__item honeymoon mid_item set-bg" data-setbg="img/features/feature-2.jpg">
                    <div class="fg__item__text">
                        <span>Ceremonies</span>
                        <h2>Christina & Evelyn</h2>
                    </div>
                </div>
                <div class="fg__item music large_item set-bg" data-setbg="img/features/feature-3.jpg">
                    <div class="fg__item__text">
                        <span>Ceremonies</span>
                        <h2>Christina & Evelyn</h2>
                    </div>
                </div>
                <div class="fg__item event large_item set-bg" data-setbg="img/features/feature-4.jpg">
                    <div class="fg__item__text">
                        <span>Ceremonies</span>
                        <h2>Christina & Evelyn</h2>
                    </div>
                </div>
                <div class="fg__item couple mid_item set-bg" data-setbg="img/features/feature-5.jpg">
                    <div class="fg__item__text">
                        <span>Ceremonies</span>
                        <h2>Christina & Evelyn</h2>
                    </div>
                </div>
                <div class="fg__item photography set-bg" data-setbg="img/features/feature-6.jpg">
                    <div class="fg__item__text">
                        <span>Ceremonies</span>
                        <h2>Christina & Evelyn</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="load__more">
                        <a href="#" class="primary-btn">View more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="counter spad set-bg" data-setbg="img/counter-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="counter__item">
                        <img src="img/icon/ci-1.png" alt="">
                        <h2 class="counter_num">8365</h2>
                        <p>Photos</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="counter__item">
                        <img src="img/icon/ci-2.png" alt="">
                        <h2 class="counter_num">568</h2>
                        <p>Happy Couple</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="counter__item">
                        <img src="img/icon/ci-3.png" alt="">
                        <h2 class="counter_num">849</h2>
                        <p>Joast</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="counter__item">
                        <img src="img/icon/ci-4.png" alt="">
                        <h2 class="counter_num">2574</h2>
                        <p>Dress Cakes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="request">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="request__form">
                        <div class="section-title">
                            <span>let’s meet</span>
                            <h2>Make a request</h2>
                            <p>Should you have any enquiries about Wedding Planner, please fill in our enquiry form.</p>
                        </div>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 px-2">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 px-2">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 px-2">
                                    <select>
<option value="">Services</option>
<option value="">Option 1</option>
<option value="">Option 2</option>
</select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 px-2">
                                    <select>
<option value="">Guest</option>
<option value="">Option 1</option>
<option value="">Option 2</option>
</select>
                                </div>
                                <div class="col-lg-12 px-2 text-center">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="submit" class="site-btn">send a request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our blog</h2>
                        <img src="img/icon/ti.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__item">
                        <img src="img/blog/latest-1.jpg" alt="">
                        <ul>
                            <li>Inspiration</li>
                            <li>Nov 27, 2019</li>
                            <li>05 Comment</li>
                        </ul>
                        <h4><a href="#">Newlyweds share first wedding photos</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__item">
                        <img src="img/blog/latest-2.jpg" alt="">
                        <ul>
                            <li>Inspiration</li>
                            <li>Nov 27, 2019</li>
                            <li>05 Comment</li>
                        </ul>
                        <h4><a href="#">Newlyweds share first wedding photos</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__item">
                        <img src="img/blog/latest-3.jpg" alt="">
                        <ul>
                            <li>Inspiration</li>
                            <li>Nov 27, 2019</li>
                            <li>05 Comment</li>
                        </ul>
                        <h4><a href="#">Newlyweds share first wedding photos</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo__carousel owl-carousel">
                        <div class="logo__item">
                            <a href="#"><img src="img/logo-carousel/lc-1.png" alt=""></a>
                        </div>
                        <div class="logo__item">
                            <a href="#"><img src="img/logo-carousel/lc-2.png" alt=""></a>
                        </div>
                        <div class="logo__item">
                            <a href="#"><img src="img/logo-carousel/lc-3.png" alt=""></a>
                        </div>
                        <div class="logo__item">
                            <a href="#"><img src="img/logo-carousel/lc-4.png" alt=""></a>
                        </div>
                        <div class="logo__item">
                            <a href="#"><img src="img/logo-carousel/lc-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="footer___subscribe">
                            <div class="footer__subscribe__text">
                                <h4>Newsletter Subscribe</h4>
                                <p>Signup and recive 10% of your wedding!</p>
                            </div>
                            <div class="footer__subscribe__form">
                                <form action="#">
                                    <input type="text" placeholder="Email">
                                    <button type="submit"><i class="fa fa-send-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>open time</h5>
                        <ul>
                            <li>Mon - Fri: 8:00am - 7:00pm</li>
                            <li>Closed on weekend</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Phone & email</h5>
                        <ul>
                            <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b8ebcdc8c8d7caccf8dfd5d9d1d496dbd7d5">[email&#160;protected]</a></li>
                            <li>+ 1 212-683-9756</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Phone & email</h5>
                        <p>799 W 6th St Hoisington, Kansas 121 Sparrow Hawk, Alberta</p>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-7 col-md-7">

                        <p class="footer__copyright__text">Copyright &copy;
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>

                    </div>
                    <div class="col-lg-5 col-md-5">
                        <ul class="footer__copyright__widget">
                            <li><a href="#">Terms & Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"768ea5cce85d9fcb","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>