
h2 {
	color: #090909
}
h2:after {
	/* background: url(../images/brown/bullet.png); */
	background-size: cover;
}
/* .bullet {
	background: url(../images/brown/bullet.png);
	background-size: cover;
} */
.im_arrows:before {
	background: url(../images/brown/im_arrow_end.png);
	background-size: cover;
}
.im_arrows:after {
	background: url(../images/brown/im_arrow_start.png);
	background-size: cover;
}

.btn {
	color:#090909!important;
	border: 2px solid #090909
	
}
	.btn:hover {
		background:#323232;
		color:#fff!important
	}
	.btn:active, .btn:focus {
		background:#323232;
	}
.married_coundown {
	color: #090909;
}
.double_arrow {
	background: url(../images/brown/double_arrow.png);
	background-size: cover;
}

.owl-pagination {
	/* background: url(../images/brown/arrow_back.png) repeat-x; */
	background-size: cover
}
.owl-pagination:before {
	/* background: url(../images/brown/arrow_end.png); */
	background-size: cover;
}
.owl-pagination:after {
	/* background: url(../images/brown/arrow_start.png); */
	background-size: cover;
}
.owl-page:after {
	/* background: url(../images/brown/bullet.png); */
	background-color: #fff;
	border: 2px solid #090909;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-size: cover
}
.owl-page.active:after {
	/* background: url(../images/brown/bullet_active.png); */
	background-color: #090909;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-size: cover
}

.story_title, .story_title i {
	color: #090909;
}
.story_title:before, .story_title:after {
	background:#d9c6b1;
}

.when_where .over{
	background:rgba(89,89,89,0.83);
}
.footer .over {
	background:rgba(89,89,89,0.43);
}
.paper {
	background:url(../images/brown/paper.jpg);
}
.envelope_back {
	background:url(../images/brown/env_back.jpg);
}
.env_top {
	background: url(../images/brown/env_top.png);
}
.env_top_top {
	background: url(../images/brown/env_top_top.png);
}
.envelope_front {
	background:url(../images/brown/envelope_front.png);
}
.paper .paper_title {
	color: #e77f66;
}