<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="images/favicon.ico">
        
        <title>WeLove - Html Responsive Template</title>

        <!-- plugins -->
        <link rel="stylesheet" type="text/css" href="css/plugin.css" />
        
        <!-- Revolution Slider -->		
		<link rel="stylesheet" type="text/css" href="vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" type="text/css" href="vendor/revolution-slider/revolution/css/settings.css">
		<link rel="stylesheet" type="text/css" href="vendor/revolution-slider/revolution/css/layers.css">
		<link rel="stylesheet" type="text/css" href="vendor/revolution-slider/revolution/css/navigation.css">        

        <!-- typography -->
        <link rel="stylesheet" type="text/css" href="css/typographies.css" />

        <!-- templete element -->
        <link rel="stylesheet" type="text/css" href="css/template-element.css" />        

        <!-- template CSS -->
        <link href="css/style.css" rel="stylesheet">

        <!-- responsive CSS -->
        <link href="css/responsive.css" rel="stylesheet">

         <!-- custom CSS -->
        <link href="css/custom.css" rel="stylesheet">
    </head>

    <body>		
		<header>
			<nav hidden class="nav-white nav-transparent">
				<div class="nav-header">
					<a href="index.html" class="brand">
						<img src="images/brand/logo.png" />
					</a>
					<button class="toggle-bar">
						<span class="ti-menu"></span>
					</button>	
				</div>								
				<ul class="menu">
					<li class="scrollspy active"><a href="#home">Home</a></li>
					<li class="scrollspy"><a href="#about">Our Story</a></li>
					<li class="scrollspy"><a href="#wedding">Wedding</a></li>
					<li class="scrollspy"><a href="#album">Our Album</a></li>
					<li class="scrollspy"><a href="#storyline">Our Love Story</a></li>
					<li class="scrollspy"><a href="#contact">Join Our Party</a></li>
					<li class="scrollspy"><a href="#giftregistry">Gift Registry</a></li>
					<li class="scrollspy"><a href="#bestwish">Best Wish</a></li>
				</ul>
				
				<ul class="attributes">
					<li><a href="#" class="toggle-search-fullscreen"><span class="ti-search"></span></a></li>					
				</ul>
				
				<div class="wrap-search-fullscreen">
					<button class="close-search"><span class="ti-close"></span></button>
					<input type="text" placeholder="Search..." />
				</div>
			</nav>
		</header>	
    
		<!-- Start Slider -->
		<section>
			<article class="content">			
				<div id="rev_slider_1068_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="levano4export" data-source="gallery" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
					<div id="rev_slider_1068_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-3010" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/slide-1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption Restaurant-Display   tp-resizeme" 
									 id="slide-3010-layer-1" 
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" 
									 
									 data-fontsize="['70','70','40','36']"
									 data-lineheight="['80','80','45','40']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 5; white-space: nowrap;text-transform:left;">KATIE & BRENDAN</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption Restaurant-Cursive   tp-resizeme" 
									 id="slide-3010-layer-2" 
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','30','30']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 6; white-space: nowrap; line-height: 40px;text-transform:left;">NOVEMBER 16TH, 2019</div>
							</li>
							<!-- SLIDE  -->

							<li data-index="rs-3011" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/slide-2.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption Restaurant-Display   tp-resizeme" 
									 id="slide-3010-layer-1" 
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']"
									 
									 data-fontsize="['70','70','40','36']"
									 data-lineheight="['80','80','45','40']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 5; white-space: nowrap;text-transform:left;">KATIE & BRENDAN</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption Restaurant-Cursive   tp-resizeme" 
									 id="slide-3010-layer-2" 
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','30','30']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 6; white-space: nowrap; line-height: 40px;text-transform:left;">NOVEMBER 16TH, 2019</div>


							</li>
						</ul>
					</div>
				</div><!-- END REVOLUTION SLIDER -->

			</article>
		</section>	
		<!-- End Slider -->
		
		<section id="about" class="section-ptb-80 pb-0">
            <div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-12">
						<div class="section-heading line center text-center">
                            <h1 class="heading">The Story Of Love</h1>
                        </div>
					</div>
				</div>
				<div class="row mt-20 align-items-center justify-content-center">
					<div class="col-lg-6 col-12">
						<div class="owl-carousel owl-theme" data-nav-dots="true"  data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">
							<div class="item">									
								<div class="story-book">
									<span>01</span>
									<h2>How We Met</h2>
									<p class="fs-16 f-w3 mt-50"> Ut lacinia erat ut diam volutpat, at mattis lacus placerat. Phasellus eget aliquet urna. Nullam sit amet turpis ornare, pulvinar lectus in, cursus mi.</p>
									<p class="fs-20 my-35"><em>“Duis sodales tempor pulvinar. Quisque quis mi egestas turpis dignissim tincidunt sed vel neque”</em></p>
									<p class="fs-16">Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl libero.</p>
								</div>
							</div>
							<div class="item">									
								<div class="story-book">
									<span>02</span>
									<h2>Our Beautiful Proposal</h2>
									<p class="fs-16 f-w3 mt-50"> Ut lacinia erat ut diam volutpat, at mattis lacus placerat. Phasellus eget aliquet urna. Nullam sit amet turpis ornare, pulvinar lectus in, cursus mi.</p>
									<p class="fs-20 my-35"><em>“Duis sodales tempor pulvinar. Quisque quis mi egestas turpis dignissim tincidunt sed vel neque”</em></p>
									<p class="fs-16">Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl libero.</p>
								</div>
							</div>
							<div class="item">									
								<div class="story-book">
									<span>03</span>
									<h2>Our First Date</h2>
									<p class="fs-16 f-w3 mt-50"> Ut lacinia erat ut diam volutpat, at mattis lacus placerat. Phasellus eget aliquet urna. Nullam sit amet turpis ornare, pulvinar lectus in, cursus mi.</p>
									<p class="fs-20 my-35"><em>“Duis sodales tempor pulvinar. Quisque quis mi egestas turpis dignissim tincidunt sed vel neque”</em></p>
									<p class="fs-16">Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl libero.</p>
								</div>
							</div>
							<div class="item">									
								<div class="story-book">
									<span>04</span>
									<h2>We Got Engaged</h2>
									<p class="fs-16 f-w3 mt-50"> Ut lacinia erat ut diam volutpat, at mattis lacus placerat. Phasellus eget aliquet urna. Nullam sit amet turpis ornare, pulvinar lectus in, cursus mi.</p>
									<p class="fs-20 my-35"><em>“Duis sodales tempor pulvinar. Quisque quis mi egestas turpis dignissim tincidunt sed vel neque”</em></p>
									<p class="fs-16">Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl libero.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="mt-50 text-center">
							<img src="images/about-pic.jpg" class="img-fluid" alt="" />
						</div>
					</div>
				</div>
            </div>
			
        </section>
		
		<section id="wedding" class="section-ptb-80 bg-light pb-150 sm-pb-50">
            <div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-12">
						<div class="section-heading line center text-center">
                            <h1 class="heading">Wedding Info</h1>
							<p>Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl.</p>
                        </div>
					</div>
				</div>
				<div class="row mt-50 align-items-center">
					<div class="col-md-4 col-12">
						<div class="wedding-box pull-up">
							<div class="icon-we"><i class="fa fa-building-o"></i></div>
							<h2>The Ceremony</h2>
							<hr>
							<p><i class="fa fa-calendar"></i> April 20, 2016</p>
							<p><i class="fa fa-clock-o"></i> 5:30 PM</p>
							<p><i class="fa fa-map-marker"></i> The Mayflower Hotel,<br>1127 Connecticut Avenue NW, Washington</p>
							<a href="#"><i class="fa fa-map"> Check out the map</i></a>
							<div class="att-btn">
								<a href="#" class="cs-button x-small">i'm attending </a>
							</div>
						</div>
					</div>	
					<div class="col-md-4 col-12">
						<div class="wedding-box pull-up xs-my-30">
							<div class="icon-we"><i class="fa fa-glass"></i></div>
							<h2>The Reception</h2>
							<hr>
							<p><i class="fa fa-calendar"></i> April 20, 2016</p>
							<p><i class="fa fa-clock-o"></i> 5:30 PM</p>
							<p><i class="fa fa-map-marker"></i> The Mayflower Hotel,<br>1127 Connecticut Avenue NW, Washington</p>
							<a href="#"><i class="fa fa-map"> Check out the map</i></a>
							<div class="att-btn">
								<a href="#" class="cs-button x-small">i'm attending </a>
							</div>
						</div>
					</div>	
					<div class="col-md-4 col-12">
						<div class="wedding-box pull-up">
							<div class="icon-we"><i class="fa fa-spoon"></i></div>
							<h2>The Party Time</h2>
							<hr>
							<p><i class="fa fa-calendar"></i> April 20, 2016</p>
							<p><i class="fa fa-clock-o"></i> 5:30 PM</p>
							<p><i class="fa fa-map-marker"></i> The Mayflower Hotel,<br>1127 Connecticut Avenue NW, Washington</p>
							<a href="#"><i class="fa fa-map"> Check out the map</i></a>
							<div class="att-btn">
								<a href="#" class="cs-button x-small">i'm attending </a>
							</div>
						</div>
					</div>					
				</div>
            </div>			
        </section>
		<section class="section con-dow">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-12 text-center bg-theme py-30">
                        <div class="countdown medium days text-white"></div>
                        <div class="countdown medium hours text-white"></div>
                        <div class="countdown medium minutes text-white"></div>
                        <div class="countdown medium seconds text-white"></div>
                    </div>
                </div>
            </div>
        </section>
		
		<section id="album" class="section-ptb-80">
            <div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-12">
						<div class="section-heading line center text-center">
                            <h1 class="heading">Our Gallery</h1>
							<p>Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl.</p>
                        </div>
					</div>
				</div>
				<div class="row mt-50">
					<div class="col-12">
						<div class="owl-carousel owl-theme" data-nav-dots="true" data-space="0" data-items="4" data-md-items="3" data-sm-items="3" data-xs-items="1" data-xx-items="1">
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-1.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-1.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>	
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-2.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-2.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-3.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-3.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-4.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-4.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-5.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-5.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-6.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-6.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-7.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-7.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="grid-item">
									<div class="portfolio-item">
										<img src="images/pic-8.jpg" alt="">
										<div class="portfolio-overlay">
											<h4 class="text-white"> <a href="#">Aliquam Tempus Ultricies</a> </h4>
										</div>
										<a class="popup portfolio-img" rel="prettyPhoto[gallery1]" href="images/pic-8.jpg"><i class="fa fa-arrows-alt"></i></a>
									</div>
								</div>
							</div>
						</div>							
					</div>				
				</div>
            </div>			
        </section>
		
		<section id="storyline" class="timeline-blog section-ptb-80" style="background-image: url(images/body-bg.png);">
            <div class="container">	
                <div class="row">
                    <div class="col-12">
                        <ul class="timeline">
                            <li class="entry-date">
                                <span> Our Story Line </span>
                            </li>
                            <li>
                                <div class="timeline-badge primary">
                                    <a href="">24</a>
                                    <span>May</span>
                                </div>
                                <div class="timeline-post">
                                    <div class="blog-post">
                                        <div class="entry-image clearfix">
                                            <img class="img-fluid" src="images/s-1.jpg" alt="">
                                        </div>
                                        <div class="blog-detail">
                                            <div class="entry-title mb-10">
                                                <a href="#">How We Met</a>
                                            </div>
                                            <div class="entry-content">
                                                <p>Rrow itself, let it be sorrow; let him love it; let him pursue it, ishing for its acquisitiendum. Because he will ab hold, uniess but through concer, and also of those who resist.</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge primary">
                                    <a href="">28</a>
                                    <span>May</span>
                                </div>
                                <div class="timeline-post">
                                    <div class="blog-post">
                                        <div class="entry-image clearfix">
                                            <img class="img-fluid" src="images/s-2.jpg" alt="">
                                        </div>
                                        <div class="blog-detail">
                                            <div class="entry-title mb-10">
                                                <a href="#">Love Proposal</a>
                                            </div>
                                            <div class="entry-content">
                                                <p>The decade that brought us Star Trek and Doctor Who also resurrected Cicero—or at least what used to be Cicero—in an attempt to make the days before computerized design a little less painstaking.</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge primary">
                                    <a href="">24</a>
                                    <span>May</span>
                                </div>
                                <div class="timeline-post">
                                    <div class="blog-post">
                                        <div class="entry-image clearfix">
                                            <img class="img-fluid" src="images/s-3.jpg" alt="">
                                        </div>
                                        <div class="blog-detail">
                                            <div class="entry-title mb-10">
                                                <a href="#">Our First Date</a>
                                            </div>
                                            <div class="entry-content">
                                                <p>Among design professionals, there's a bit of controversy surrounding the filler text. Controversy, as in Death to Lorem Ipsum.</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge primary">
                                    <a href="">28</a>
                                    <span>May</span>
                                </div>
                                <div class="timeline-post">
                                    <div class="blog-post">
                                        <div class="entry-image clearfix">
                                            <img class="img-fluid" src="images/s-4.jpg" alt="">
                                        </div>
                                        <div class="blog-detail">
                                            <div class="entry-title mb-10">
                                                <a href="#">We Got Engaged</a>
                                            </div>
                                            <div class="entry-content">
                                                <p>The French lettering company Letraset manufactured a set of dry-transfer sheets which included the lorem ipsum filler text in a variety of fonts, sizes, and layouts. </p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="entry-date-bottom"> <a href="#">Load more...</a></li>
                            <li class="clearfix" style="float: none;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
		
		<section id="contact" class="section-ptb-80 parrallax overflow-hidden bg-overlay-black-50" data-jarallax='{"speed": 0.0}' style="background-image: url(images/bg-3.jpg);">
            <div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-12">
						<div class="section-heading line center text-center">
                            <h1 class="heading text-white">Will You Attend?</h1>
                        </div>
					</div>
				</div>
                <div class="row mt-50">
                    <div class="col-12">   
                        <form action="send_email.php" id="contact" name="contact" method="post">
                            <div class="contact-form form-border clearfix">
                                <div class="form-field">
                            		<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Your Name" required >
                                </div>
                                <div class="form-field">
                            		<input type="email" class="form-control" name="InputEmail" id="InputEmail" placeholder="Your Email" required >
                                </div>
                                <div class="form-field">
                            		<input type="text" class="form-control" name="InputGuest" id="InputGuest" placeholder="Your Guest's Name" required >
                                </div>
                                <div class="form-field">
									<input type="number" class="form-control" name="InputAtt" id="InputAtt" placeholder="Number of Attending" required >
                                </div>
                                <div class="form-field submit-button">
                                    <button name="submit" type="submit" class="cs-button"> I'M Attending </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
		
		<section id="giftregistry" class="section-ptb-80 bg-light">
            <div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-12">
						<div class="section-heading line center text-center">
                            <h1 class="heading">Registry Gifts</h1>
							<p>Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl.</p>
                        </div>
					</div>
				</div>
				<div class="row mt-50">
					<div class="col-12">
						<div class="owl-carousel owl-theme" data-nav-dots="true" data-items="6" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="2">
						    <div class="item"><a href="#"><img src="images/r-1.png" class="img-fluid" alt=""></a></div>
						    <div class="item"><a href="#"><img src="images/r-2.png" class="img-fluid" alt=""></a></div>
						    <div class="item"><a href="#"><img src="images/r-3.png" class="img-fluid" alt=""></a></div>
						    <div class="item"><a href="#"><img src="images/r-4.png" class="img-fluid" alt=""></a></div>
						    <div class="item"><a href="#"><img src="images/r-5.png" class="img-fluid" alt=""></a></div>
                            <div class="item"><a href="#"><img src="images/r-6.png" class="img-fluid" alt=""></a></div>
						    <div class="item"><a href="#"><img src="images/r-7.png" class="img-fluid" alt=""></a></div>
						    <div class="item"><a href="#"><img src="images/r-8.png" class="img-fluid" alt=""></a></div>
                            <div class="item"><a href="#"><img src="images/r-9.png" class="img-fluid" alt=""></a></div>
                            <div class="item"><a href="#"><img src="images/r-10.png" class="img-fluid" alt=""></a></div>
                            <div class="item"><a href="#"><img src="images/r-11.png" class="img-fluid" alt=""></a></div>
						</div>							
					</div>				
				</div>
            </div>			
        </section>
		
		<section id="bestwish" class="section-ptb-80" style="background-image: url(images/body-bg.png);">
            <div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-12">
						<div class="section-heading line center text-center">
                            <h1 class="heading">Best Wish</h1>
							<p>Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl.</p>
                        </div>
					</div>
				</div>
				<div class="row mt-50">
					<div class="col-12">
                        <div class="owl-carousel owl-theme" data-nav-dots="true"  data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">
                            <div class="item">
                                <div class="testimonials bg-transparent">
                                  <div class="testimonials-avatar"> <img alt="" src="images/testimonials/avtar-1.jpg"> </div>
                                  <div class="testimonials-info"> Aenean pulvinar, turpis non consectetur feugiat, ipsum urna dapibus sem, sit amet vulputate mi nisl et sapien. Nam laoreet aliquam sollicitudin. Curabitur nisl ligula, gravida sit amet.</div>
                                  <div class="author-info"> <strong>Jakshan</strong> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials bg-transparent">
                                  <div class="testimonials-avatar"> <img alt="" src="images/testimonials/avtar-2.jpg"> </div>
                                  <div class="testimonials-info"> Aenean pulvinar, turpis non consectetur feugiat, ipsum urna dapibus sem, sit amet vulputate mi nisl et sapien. Nam laoreet aliquam sollicitudin. Curabitur nisl ligula, gravida sit amet.</div>
                                  <div class="author-info"> <strong>Monika</strong> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials bg-transparent">
                                  <div class="testimonials-avatar"> <img alt="" src="images/testimonials/avtar-3.jpg"> </div>
                                  <div class="testimonials-info"> Aenean pulvinar, turpis non consectetur feugiat, ipsum urna dapibus sem, sit amet vulputate mi nisl et sapien. Nam laoreet aliquam sollicitudin. Curabitur nisl ligula, gravida sit amet.</div>
                                  <div class="author-info"> <strong>Jesica</strong> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>			
        </section>
		
		<footer class="footer footer-2 pt-50 bg-black">
            <div class="container">
                 <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <img class="img-fluid max-width-100" id="logo-footer" src="images/brand/logo.png" alt="">
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                        <div class="footer-terms">
                          <ul class="text-right">
                            <li class="list-inline-item"><a href="#">Gift Registry </a> &nbsp;&nbsp;&nbsp;|</li>
                            <li class="list-inline-item"><a href="#">Join Our Party </a> &nbsp;&nbsp;&nbsp;|</li>
                            <li class="list-inline-item"><a href="#">Best Wish </a> </li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright mt-20">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p class="mt-15"> ©Copyright <span id="copyright">2019</span> <a href="#"> WeLove </a> All Rights Reserved </p>
                        </div>
                        <div class="col-lg-6 col-md-6 text-left text-md-right">
                            <div class="social-icons color-hover mt-10">
                                <ul> 
                                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
                                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		
    </body>
    
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Popper -->
    <script src="vendor/js/popper.min.js"></script>

    <!-- bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Corenav Master JavaScript -->
    <script src="vendor/corenav-master/coreNavigation-1.1.3.js"></script>
    <script src="js/nav.js"></script>
	
	<!--carousel script -->
    <script src="vendor/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="vendor/owlcarousel/js/jquery.mousewheel.min.js"></script>

    <!-- custom JavaScript -->
    <script src="js/custom.js"></script>

    <!-- Countdown JavaScript -->
    <script src="vendor/js/countdown.js"></script>

    <!-- prettyPhoto -->
    <script src="vendor/prettyPhoto/js/jquery.prettyPhoto.js"></script>

    <!-- custom JavaScript -->
    <script src="js/customizer.js"></script>
	
	<!-- Countdown JavaScript -->
    <script src="vendor/js/countdown.js"></script>
    
    <!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="js/revolution-slider.js" type="text/javascript"></script>
    
    <!--jarallax javascript -->
    <script src="js/jarallax.js"></script>
    
	
</html>