@media (min-width: 425px) {
    #slide-his-name{
        font-size:70px;
    }

    #slide-her-name{
        font-size:70px;
    }

    #counting{
        font-size:52px;
    }

    #attending{
        font-size:52px;
    }
}

