/**********************************/
/* 
	COLOR-2.CSS
	#f20012 (Pure (or mostly pure) red);
 */
/**********************************/

.heart-animation.one i{
	color: #f20012;
}
.heart-animation.two i{
	color: #c8000f;
}
.heart-animation.three i{
	color: #88000b;
}
.heart-animation.four i{
	color: #8e000b;
}
.all-title span{
	color: #f20012;
}
.countDays:after{
	color: #f20012;
}
.countHours:after{
	color: #f20012;
}
.countMinutes:after{
	color: #f20012;
}
.countSeconds:after{
	color: #f20012;
}
span.swirl-right span{
	color: #f20012;
}
.title-under {
	color: #f20012;
}
.btn.btn-border-white:hover, .btn.btn-border-white:active, .btn.btn-border-white:focus, a.btn.btn-border-white:hover, a.btn.btn-border-white:active, a.btn.btn-border-white:focus {
	background-color: #f20012;
	border: 1px solid #f20012;
}
.single-happy .info-box-text ul li a i:hover{
	border-color: #f20012;
}
.single-happy-wrapp .single-happy-and{
	color: #f20012;
}
.section-gallery .fade-icon .icon {
	background-color: #f20012;
}
.switcher__color span a {
    background: #f20012;
}
.story-date {
    background: #f20012;
}
.story-line:after {
    background: #f20012;
}
.story-line:before {
    background: #f20012;
}
.story-line {
    background: #f20012;
}
.story-section .date:before {
    background: #f20012;
}
.story-section .offer:before {
    background: #f20012;
}
.story-section .time:before {
    background: #f20012;
}
.story-section .together:before {
    background: #f20012;
}

/**********************************/
/* 
	END
	COLOR-2.CSS
	#f20012 (Pure (or mostly pure) red);
 */
/**********************************/