/**********************************/
/* 
	COLOR-6.CSS
	#cccc00 (Yellow);
 */
/**********************************/

.heart-animation.one i{
	color: #cccc00;
}
.heart-animation.two i{
	color: #8c8c00;
}
.heart-animation.three i{
	color: #6a6a00;
}
.heart-animation.four i{
	color: #555500;
}
.all-title span{
	color: #cccc00;
}
.countDays:after{
	color: #cccc00;
}
.countHours:after{
	color: #cccc00;
}
.countMinutes:after{
	color: #cccc00;
}
.countSeconds:after{
	color: #cccc00;
}
span.swirl-right span{
	color: #cccc00;
}
.title-under {
	color: #cccc00;
}
.btn.btn-border-white:hover, .btn.btn-border-white:active, .btn.btn-border-white:focus, a.btn.btn-border-white:hover, a.btn.btn-border-white:active, a.btn.btn-border-white:focus {
	background-color: #cccc00;
	border: 1px solid #cccc00;
}
.single-happy .info-box-text ul li a i:hover{
	border-color: #cccc00;
}
.single-happy-wrapp .single-happy-and{
	color: #cccc00;
}
.section-gallery .fade-icon .icon {
	background-color: #cccc00;
}
.switcher__color span a {
    background: #cccc00;
}
.story-date {
    background: #cccc00;
}
.story-line:after {
    background: #cccc00;
}
.story-line:before {
    background: #cccc00;
}
.story-line {
    background: #cccc00;
}
.story-section .date:before {
    background: #cccc00;
}
.story-section .offer:before {
    background: #cccc00;
}
.story-section .time:before {
    background: #cccc00;
}
.story-section .together:before {
    background: #cccc00;
}

/**********************************/
/* 
	END
	COLOR-6.CSS
	#cccc00 (Yellow);
 */
/**********************************/
