/**********************************/
/* 
	COLOR-3.CSS
	#038eda (Blue);
 */
/**********************************/

.heart-animation.one i{
	color: #038eda;
}
.heart-animation.two i{
	color: #0376b4;
}
.heart-animation.three i{
	color: #025886;
}
.heart-animation.four i{
	color: #013856;
}
.all-title span{
	color: #038eda;
}
.countDays:after{
	color: #038eda;
}
.countHours:after{
	color: #038eda;
}
.countMinutes:after{
	color: #038eda;
}
.countSeconds:after{
	color: #038eda;
}
span.swirl-right span{
	color: #038eda;
}
.title-under {
	color: #038eda;
}
.btn.btn-border-white:hover, .btn.btn-border-white:active, .btn.btn-border-white:focus, a.btn.btn-border-white:hover, a.btn.btn-border-white:active, a.btn.btn-border-white:focus {
	background-color: #038eda;
	border: 1px solid #038eda;
}
.single-happy .info-box-text ul li a i:hover{
	border-color: #038eda;
}
.single-happy-wrapp .single-happy-and{
	color: #038eda;
}
.section-gallery .fade-icon .icon {
	background-color: #038eda;
}
.switcher__color span a {
    background: #038eda;
}
.story-date {
    background: #038eda;
}
.story-line:after {
    background: #038eda;
}
.story-line:before {
    background: #038eda;
}
.story-line {
    background: #038eda;
}
.story-section .date:before {
    background: #038eda;
}
.story-section .offer:before {
    background: #038eda;
}
.story-section .time:before {
    background: #038eda;
}
.story-section .together:before {
    background: #038eda;
}

/**********************************/
/* 
	END
	COLOR-3.CSS
	#038eda (Blue);
 */
/**********************************/