/*------------------------------------------------------------------
[Master Stylesheet]

Project:	We love - Onepage Html Responsive Template
Version:	1.1
Last change:	20/08/2016 [fixed bug]
Primary use:	We love - Onepage Html Responsive Template 
-------------------------------------------------------------------*/

@import url("default-theme-style.css");
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700';


/*------------------------------------------------------------------
[Table of contents]

1. Body  /  #page-top
2. Navigation / #mainNav
3. Header / #myCarousel (with slider)
4. Countdown Timer
5. Section commen style
6. Wedding Section  /  #wedding
7. Our Love Story Section  /  #ourlovestory
8. Wedding Ceremony Section  /  #weddingceremony
9. Best Wish  /  #bestwish
10. Our Album Section  /  #ouralbum
11. Gift Registry  /  #giftregistry
12. Fun Facts Section  /  #funfacts
13. Join Our Party Section  /  #joinourparty
14. Footer section  /  #footer
15. Responsive Media Screen style

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Color codes]


# Pink (Section Title) :  #d43d8f
# Dark Black (text): #111111
# Pink (headings, links): #d43d8f
# Pink (header-Nav) : rgba(212, 61, 143, 0.7);
# Light Gary : #959595
# gray (Body Text color)  :  #444444

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body :		'Roboto', sans-serif;
Headers:		font-family: 'Parisienne', cursive;
Input, textarea:	'Roboto', sans-serif;

-------------------------------------------------------------------*/


/*---Body---*/
 
html,
	body {
	  height: 100%;
	  width: 100%;
	}
body {
	font-family: 'Roboto', sans-serif;
}
body {
	color:#444444;
	background-image:url(../images/body-bg.png);
		background-repeat:repeat;
}
a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #d43d8f;
}
a:hover,
a:focus {
  	color: #d43d8f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: 'Parisienne', cursive;
}
p {
  	line-height: 1.5;
  	margin-bottom: 20px;
}
.green{
	color:#5fc7ae;
}
.bg-dark {
  	background-color: #222222;
  	color: white;
}
.text-faded {
  	color: #fff;
}
section {
  	padding: 80px 0;
}
aside {
  	padding: 50px 0;
}
.no-padding {
  	padding: 0;
}



/*---Navigation / #mainNav---*/


.navbar-brand{
	padding: 10px 15px;
	font-size:2.142857142857143em;
}
.navbar-collapse{
	overflow:hidden !important;
	height: 60px !important;
}
.logo{
	font-family: 'Parisienne', cursive;
	color:#fff;
	    text-transform: capitalize;
    font-weight: 500;
	margin-bottom:0;
}
.navbar-default {
	background-color:rgba(212, 61, 143, 0.7);
		border-color: rgba(34, 34, 34, 0.05);
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  	color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
	background-color: #fff;
	color: #222222;
	font-size:1.1428571428571428em;
		font-weight: 700;
		text-transform: uppercase;  
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	font-weight: 400;
	color: #fff;
	padding: 20px 15px;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #d43d8f;
	background-color:#fff;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
	color: #d43d8f;
	background-color:#fff;
	outline: none;
}


@media (min-width: 992px) and (max-width: 1199px) {
.navbar-default {
    background-color: rgba(212, 61, 143, 0.7);
    	border-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
}
.navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
	font-size: 1em;
		font-weight: normal;
	padding: 15px 5px;
}
.navbar-default.affix {
    background-color: #d43d8f;
    	border-color: rgba(34, 34, 34, 0.05);
}
.navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
}
.navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

}

@media (max-width: 991px) {
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    padding: 15px;
}
.navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
	font-size: 1.7142857142857142em;
		text-align:center;
}
}



/*---Header / #myCarousel (with slider)---*/

header {
	position: relative;  
	color: white;
	width: 100%;
	min-height: auto;
	text-align: center;
}


/*---Slider---*/

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}

.item,
.active.left,
.active.right {
    opacity: 0;
}

.active,
.next.left,
.prev.right {
    opacity: 1;
}

.next,
.prev,
.active.left,
.active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-control {
    z-index: 2;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 768px) {
header {
    min-height: 100%;
}
}


/*---countdown Timer---*/

.countdown-timer {
    position: absolute;
    	bottom: 0;
    width: 100%;
}


.timer_box {
	width: 115px;
    height: 130px;
    display: inline-block;
    margin: 35px 24px;
    	padding: 15px 12px 0px 12px;
    text-align: center;
    background-image:url(../images/timecounter-frame.png);
		background-repeat:no-repeat;
}



/*---Section commen style---*/

.section-heading {
	color: #111111;
	font-size:4.285714285714286em;
		font-weight: 100;	
		letter-spacing: 3px;	
	margin-top: 0;
	margin-bottom:30px;
}
.pink{
	color:#d43d8f;
}
.white{
	color:#fff;
}
.lightgray {
    color: #ccc;
}
.section-title{
	margin-bottom:50px;
}
hr.divider {
    width: 50px;
    border: 2px solid #d43d8f;
}
hr.divider-white {
    width: 50px;
    border: 2px solid #fff;
}
.bg-img .section-heading {
    color: #fff;
}

.btn{	
	background-color:#d43d8f;
		border-radius:50px;
		border-color:#d43d8f;
	color:#ffffff;	
	font-size:1.2857142857142858em;
	padding: 10px 30px;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.btn:hover{
	background-color:#fff;
		border-color:#d43d8f;
	color:#d43d8f;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}



/*---Wedding Section---*/

.wedding{
	background-image:url(../images/Polygon-bg.png);
		background-position:top center;
		background-repeat:no-repeat;
	padding:80px 0px;
}
.wedding-info h2, .wedding-info p{
	color:#111;
}
.name{
	color:#d43d8f;
	font-weight:600;
}
.social a{
	color:#959595;
}

.social a:hover{
	color:#d43d8f;
}
.wedding-info {
    padding: 20px 0px;
}
.wedding-info h2{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
    	padding: 10px 0px;
}

@media (max-width: 767px) {
.wedding{
	padding:10px 0px;
}
}



/*---Our Love Story Section---*/

.story .container-fluid{
	background:url(../images/bg-2.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	padding:80px 0px;
}
section.story {
    padding: 0px 0;
}



/*---Timeline---*/


section.timeline {
	width: 100%;
	position: relative;
		float: left;
	margin: 50px 0% 0;	
		padding-bottom: 120px;
}

section.timeline:after {
	background: #ebebeb;
	content: "";
	display: block;	
	width: 3px;
	height: 100%;	
	position: absolute;
		top: -50px;
		left: 50%;
	margin-left: -2px;
	z-index: 0;
	filter: alpha(opacity=35);
	opacity: 0.35;
}

section.timeline .timeline-date {
	position: relative;
		z-index: 1;
	display: block;
	clear: both;
	max-width: 400px;
	height: 50px;
	background: #FFF;
		border: 1px solid #d43d8f;
		border-radius: 50px;
	margin: 0 auto 10px;
	text-shadow: 0 1px 1px #fff;
	
}

section.timeline .timeline-date h2 {
	display: block;	
	color: #d43d8f;
	font-family: 'Roboto', sans-serif;
	font-size:2.142857142857143em;
		text-align: center;
	margin: 5px 0px;
}
section.timeline .post-content{
    padding: 0px 10px;
}
section.timeline .post-content p.story-date {
	display: block;
	color: #111;
	font-size:1.7142857142857142em;	
		text-align: left;
	margin-bottom:5px;
}
section.timeline .post-content p {
	display: block;
	color: #898989;
	font-size:1.2857142857142858em;
		text-align: left;
	margin-bottom:10px;
}
section.timeline .timeline-title {
	background: #F4F4F4;
	padding: 12px;
}

section.timeline .timeline-title p {
	margin: 0;
		padding: 0;
	color: #171717;
	font-size: 1.4em;
}

section.timeline .timeline-title a {
	color: #171717;
}

section.timeline .timeline-title .timeline-title-tags {
	color: #B1B1B1;
	font-size: 0.9em;
}

section.timeline .timeline-title .timeline-title-tags a {
	color: #B1B1B1;
	font-size: 0.9em;
}

section.timeline .timeline-box {
	width: 45.7%;
	float: left;
	z-index: 1;	
	background: #FFF;
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
		border: 1px solid #E5E5E5;
		border-radius: 4px;
	margin: 20px 10px 10px 10px;	
	margin-bottom: 30px;
		padding: 10px;
	position: relative;	
}
section.timeline .timeline-box.story-pic.left {
    text-align: right;
	box-shadow: none;
    border: none;
}
section.timeline .timeline-box.story-pic.right {
    text-align: left;
	box-shadow: none;
    border: none;
}
section.timeline .timeline-box.story-pic.left:after, section.timeline .timeline-box.story-pic.right:after {
    display:none;
}
section.timeline .timeline-box.left {
	clear: both;
}
.timeline-box .post-content .story-date{
	font-family: 'Roboto', sans-serif;
	color:#111;
}
section.timeline .timeline-box.left:before {
	background: none repeat scroll 0 0 #d43d8f;
		border-radius: 50%;
		box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #d43d8f;
	content: "";
	display: block;
	height: 7px;
	margin-right: -5px;
	position: absolute;
		right: -6.8%;
		top: 45%;
	width: 8px;
}

section.timeline .timeline-box.left:after {	
	background: #FFF;
		border-right: 1px solid #E5E5E5;
		border-top: 1px solid #E5E5E5;
	content: "";
	display: block;
	height: 14px;
	position: absolute;
		right: -8px;
		top: 43%;
	width: 14px;
	z-index: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

section.timeline .timeline-box.right {
	clear: right;
	float: right;
	right: -1px;
}

section.timeline .timeline-box.right:after {
	background: #FFF;
		border-left: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
	content: "";
	display: block;
	height: 14px;
	position: absolute;
		left: -8px;
		top: 43%;
	width: 14px;
	z-index: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

section.timeline .timeline-box .img-thumbnail {
	border-radius: 0;
	border: 0;	
	padding: 0;
}

section.timeline .timeline-box .img-thumbnail img {
	border-radius: 0;
	border: 0;
	padding: 0;
}

section.timeline .timeline-box .thumb-info {
	float: left;
	margin-bottom: -5px;
}

section.timeline .timeline-box .owl-carousel {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	padding: 0;
}



/*---Timeline Responsive---*/

@media (max-width: 991px) {
section.timeline .timeline-box {
	float: none;
		clear: both;
		right: auto;
		left: auto;
	margin: 25px auto;
	max-width: 70%;
		width: auto;
}

section.timeline .timeline-box.right {
	float: none;
		clear: both;
		right: auto;
		left: auto;
	margin: 25px auto;
	max-width: 70%;
		width: auto;
}

section.timeline .timeline-box.left:after, section.timeline .timeline-box.right:after, section.timeline .timeline-box.left:before, section.timeline .timeline-box.right:before {
	display: none;
}
}

@media (max-width: 479px) {
section.timeline {
	width: auto;
	float: none;
	margin-left: 0;
	margin-right: 0;
}

section.timeline .timeline-box {
	margin: 15px auto;
	max-width: 90%;
}

section.timeline .timeline-box.right {
	margin: 15px auto;
	max-width: 90%;
}

article.post-large {
	margin-left: 0;
}

article.post-large .post-image, article.post-large .post-date {
	margin-left: 0;
}
}



/*---Wedding Ceremony Section---*/

.weddingceremony{
	background:url(../images/bg-3.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	padding:0px;
}
.weddingceremony .section-title {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin-bottom: 0px;
    	padding: 80px 20px;
}
.weddingceremony .section-title img{
	display:inline;
	padding:20px 0px;
}
.weddingceremony .place{
	font-family: 'Roboto', sans-serif;
}


/*---Best Wish---*/

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}


/*---Carousel Fade Transition---*/


#fade-quote-carousel.carousel {
  	padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  	opacity: 0;
  	-webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  	opacity: 1;
  	-webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  	bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  	background-color: #d43d8f;
  		border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}



/* Our Album Section */

.ouralbum{
	background-color:#f6f6f6;
	padding-bottom: 0;
}
.gallery-box {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align:center;
}
.gallery-box .gallery-box-caption {
	color: white;
	opacity: 0;
	display: block;
	background: rgba(212,61,143,0.4);
	position: absolute;
		bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
		transition: all 0.35s;
	font-family: 'Parisienne', cursive;
}
.gallery-box .gallery-box-caption .gallery-box-caption-content {
	width: 100%;
	text-align: center;
	position: absolute;
		top: 50%;
		transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
  	opacity: 1;
}
.gallery-box:focus {
  	outline: none;
}
.no-gutter > [class*='col-'] {
  	padding-right: 0;
  	padding-left: 0;
}
.gallery-box img{
	display:inline-block;
	width: 100%;
}



/*---Gift Registry---*/

.store-link img{
	display:inline;
}
.store-link {
    margin: 60px 0px;
    display: block;
}



/*---Fun Facts Section---*/

.funfacts{
	background:url(../images/bg-4.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		background-size: cover;
}
.funfacts .count {
    height: 181px;
    width: 181px;    
    background-color: rgba(0,0,0,0.4);
		border: solid 2px #fff;
		border-radius: 100%;
    margin: 0 auto;
    line-height: 181px;
}
.funfacts h3{
	font-family: 'Roboto', sans-serif;
}


/*---Join Our Party Section---*/

.joinourparty .form-control{
	height: 40px;	
	background-color: #ebebeb;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
}

.joinourparty textarea.form-control{
	height: 135px;
	background-color: #ebebeb;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
}

.joinourparty .btn {
    margin: 0 auto;
    display: inherit;
}



/*---Footer Section---*/

footer .img-responsive{
	display:inline;
	padding-bottom:20px;
}

















/*---Responsive Media Screen style---*/


@media only screen and (max-width: 3500px) {

}
	
@media only screen and (max-width: 2500px) {}

@media only screen and (max-width: 2100px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1566px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (min-width: 1300px) {}

@media only screen and (max-width: 1280px) {

}

@media (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
body{
	font-size:100%;
}
.navbar-collapse{
	overflow:auto !important;
	height: auto !important;
}

/*---Our story timeline---*/

section.timeline .timeline-date h2 {
    line-height: 2.142857142857143em;
}
section.timeline .post-content {
    text-align: center;
}

}


/*--------------iPhone 6 plus landscape----------------*/

@media only screen and (max-width: 767px) {
body{
	font-size:100%;
}


/*---countdown Timer---*/

.countdown-timer .timer_box {
    width: 70px ;
    height: 80px ;
    background-image: url(../images/timecounter-frame-mobile.png) ;
	margin:0px;
	padding: 0px 12px 0px 12px;
}
.countdown-timer .timer_box h1 {
    margin-top:15px;
}


/*---Our story timeline---*/
section.timeline .timeline-date h2 {
    line-height: 2.142857142857143em;
}
section.timeline .post-content {
    text-align: center;
}


/*---Wedding section---*/

.wedding .img-responsive {
    display:inline;
}



/* Our Album section */

.gallery-box {
    text-align: center;
}
.gallery-box .img-responsive{
    display:inline;
}
}

/*--------------iPhone 6 landscape----------------*/
@media only screen and (max-width: 667px) {


/*---countdown Timer---*/

.countdown-timer {
    bottom: -60px;
}

}

/*--------------iPhone 5 landscape----------------*/
@media only screen and (max-width: 568px) {


/*---countdown Timer---*/

.countdown-timer {
    bottom: -60px;
}

}

@media only screen and (max-width: 480px) {

/*---countdown Timer---*/

.countdown-timer {
    bottom: -60px;
}
}

/*--------------iPhone 6 plus portrait----------------*/
@media only screen and (max-width: 414px) {

/*---countdown Timer---*/

.countdown-timer {
    bottom: 0px;
}

}

/*--------------iPhone 6 portrait----------------*/
@media only screen and (max-width: 375px) {}

/*--------------iPhone 5 portrait----------------*/
@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 300px) {}

@media only screen and (max-width: 200px) {}



